{
   "env": {
      "browser": true,
      "es6": true,
      "node": true
   },
   "plugins": [
      "react"
   ],
   "extends": [
      "airbnb/base"
   ],
   "rules": {
      "semi": "off",
      "no-plusplus": "off",
      "eol-last": "off",
      "max-len": [
         "error",
         150,
         {
            "ignoreUrls": true
         }
      ],
      "linebreak-style": "off", // LF / CRLF
      "react/prop-types": "off", //выключает ошибку prop-types
      "no-tabs": "off",
      "no-alert": "off",
      "indent": [ //не проверяется пробелы или таб
         "off",
         "tab"
      ],
      "prefer-destructuring": "off", //выключает пред деструктр объектов
      "no-param-reassign": "warn", //переопределение паратетров
      "import/no-named-as-default": "off", //?
      "import/no-named-as-default-member": "off", //?
      "class-methods-use-this": "off" //убирает использование this в методах
   }
}